@import "partials/colorcodes";

footer {
  align-items: center;
  bottom: 0;
  color: #fff;
  display: flex !important;
  font-size: 1rem;
  justify-content: center;
  letter-spacing: 0.5rem;
  overflow: hidden;
  padding: 15px 0;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  height: 20px;
  opacity: 0.6;
  position: absolute;
  transition: padding 0.5s, height 0.5s, opacity 0.5s;
  p {
    margin: 0;
    font-size: 1.1rem
  }
  a {
    color: $lightBlue;
    text-decoration: underline;
    transition: color 0.5s;
    &:hover {
      color: #fff;
    }
  }
  &:hover {
    height: 40px;
    padding: 30px 0;
    opacity: 1;
  }
}
